<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN" 
               "http://www.w3.org/TR/MathML2/dtd/xhtml-math11-f.dtd" [
  <!ENTITY mathml "http://www.w3.org/1998/Math/MathML">
]>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Shared allele distance (Chakraborty and Jin, 1993) [Jin, L.&nbsp;93]</title>
 <link rel="stylesheet" href="../libcss/mathematica.css" type="text/CSS"/>
        <!--<link rel="stylesheet" href="../libcss/main.css" type="text/CSS"/>
        <link rel="shortcut icon" href="./libimage/icon.png" type="images/x-icon"/> -->
<meta name="description" content="Shared allele distance (Chakraborty and Jin, 1993) [Jin, L.&nbsp;93]"/>
<meta name="keywords" content="formules"/>
<meta name="resource-type" content="document"/>
<meta name="distribution" content="global"/>
    </head>
    <body>

<h2>
Shared allele distance (Chakraborty and Jin, 1993) [<a
 href="../index.html#pubdas">Jin, L.&nbsp;93</a>]
</h2>

<div>
between individuals:
<br/>
<!-- MATH
 $D_{SA_{I}}=1-P_{SA_{I}}$
 -->
 
 <math xmlns="&mathml;">
 <semantics>
  <mrow>
   <msub>
    <mi>D</mi>
    <msub>
     <mi>SA</mi>
     <mi>I</mi>
    </msub>
   </msub>
   <mo>=</mo>
   <mrow>
    <mn>1</mn>
    <mo>−</mo>
    <msub>
     <mi>P</mi>
     <msub>
      <mi>SA</mi>
      <mi>I</mi>
     </msub>
    </msub>
   </mrow>
  </mrow>
  <annotation encoding="StarMath 5.0">D_{SA_{I}}=1-P_{SA_{I}}</annotation>
 </semantics>

</math>
 
 <!--
<IMG
 WIDTH="127" HEIGHT="29" ALIGN="MIDDLE" BORDER="0"
 SRC="img8.png"
 ALT="\( D_{SA_{I}}=1-P_{SA_{I}} \)">
 -->
 , with 
 <math xmlns="&mathml;">
 <semantics>
  <mrow>
   <msub>
    <mi>P</mi>
    <msub>
     <mi fontstyle="italic">SA</mi>
     <mi>I</mi>
    </msub>
   </msub>
   <mo stretchy="false">=</mo>
   <mfrac>
    <mrow>
     <msubsup>
      <mo stretchy="false">∑</mo>
      <mi>j</mi>
      <mi>r</mi>
     </msubsup>
     <mi>S</mi>
    </mrow>
    <mn>2r</mn>
   </mfrac>
  </mrow>
  <annotation encoding="StarMath 5.0">P_{SA_{I}}={sum ^{r}_{j}S} over {2r}

</annotation>
 </semantics>
</math>
 <!--
<IMG
 WIDTH="98" HEIGHT="54" ALIGN="MIDDLE" BORDER="0"
 SRC="img9.png"
 ALT="\( P_{SA_{I}}=\frac{\sum ^{r}_{j}S}{2r} \)">
-->
<div>
where the number of shared alleles S is sumed over all loci r.
</div>
<div>

between populations:
</div>
<div>
<math mode="display" xmlns="&mathml;" >
 <semantics>
  <mrow>
   <msub>
    <mi>D</mi>
    <msub>
     <mi fontstyle="italic">SA</mi>
     <mi>B</mi>
    </msub>
   </msub>
   <mo stretchy="false">=</mo>
   <mrow>
    <mn>1</mn>
    <mo stretchy="false">−</mo>
    <mfrac>
     <mrow>
      <mn>2</mn>
      <msub>
       <mover accent="true">
        <mi>P</mi>
        <mo stretchy="false">ˉ</mo>
       </mover>
       <msub>
        <mi fontstyle="italic">SA</mi>
        <mi>B</mi>
       </msub>
      </msub>
     </mrow>
     <mrow>
      <msub>
       <mover accent="true">
        <mi>P</mi>
        <mo stretchy="false">ˉ</mo>
       </mover>
       <msub>
        <mi fontstyle="italic">SA</mi>
        <mi>X</mi>
       </msub>
      </msub>
      <mo stretchy="false">+</mo>
      <msub>
       <mover accent="true">
        <mi>P</mi>
        <mo stretchy="false">ˉ</mo>
       </mover>
       <msub>
        <mi fontstyle="italic">SA</mi>
        <mi>Y</mi>
       </msub>
      </msub>
     </mrow>
    </mfrac>
   </mrow>
  </mrow>
  <annotation encoding="StarMath 5.0">D_{SA_{B}}=1-{2{bar{P}}_{SA_{B}}}over{{bar{P}}_{SA_{X}}+{bar{P}}_{SA_{Y}}}</annotation>
 </semantics>
</math>
 <!--
<IMG
 WIDTH="194" HEIGHT="48" BORDER="0"
 SRC="img10.png"
 ALT="\begin{displaymath}
D_{SA_{B}}=1-\frac{2\overline{P}_{SA_{B}}}{\overline{P}_{SA_{X}}+\overline{P}_{SA_{Y}}}\end{displaymath}"/>
</DIV>
<br/>
<P></P>
-->
</div>
<div>
where the average proportion of shared alleles between and within
populations X and Y (
<math xmlns="&mathml;">
 <msub>
       <mover accent="true">
        <mi>P</mi>
        <mo stretchy="false">ˉ</mo>
       </mover>
       <msub>
        <mi fontstyle="italic">SA</mi>
        <mi>B</mi>
       </msub>
      </msub>
	  </math>
	  , 
 <math xmlns="&mathml;" class="inclus">
 <msub>
       <mover accent="true">
        <mi>P</mi>
        <mo stretchy="false">ˉ</mo>
       </mover>
       <msub>
        <mi fontstyle="italic">SA</mi>
        <mi>X</mi>
       </msub>
      </msub>
	  </math>
	  , 
 <math class="inclus" xmlns="&mathml;">
 <msub>
       <mover accent="true">
        <mi>P</mi>
        <mo stretchy="false">ˉ</mo>
       </mover>
       <msub>
        <mi fontstyle="italic">SA</mi>
        <mi>Y</mi>
       </msub>
      </msub>
	  </math>
 <!--
<IMG
 WIDTH="45" HEIGHT="35" ALIGN="MIDDLE" BORDER="0"
 SRC="img13.png"
 ALT="\( \overline{P}_{SA_{Y}} \)"/>
 -->
respectively) is computed overall possible combinations of individuals
sampled.

</div>
</div>
</body>
</html>
