<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN" 
               "http://www.w3.org/TR/MathML2/dtd/xhtml-math11-f.dtd" [
  <!ENTITY mathml "http://www.w3.org/1998/Math/MathML">
]>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Rogers' (1972) distance</title>
 <link rel="stylesheet" href="../libcss/mathematica.css" type="text/CSS"/>
        <!--<link rel="stylesheet" href="../libcss/main.css" type="text/CSS"/>
        <link rel="shortcut icon" href="./libimage/icon.png" type="images/x-icon"/> -->
<meta name="description" content="Rogers' (1972) distance"/>
<meta name="keywords" content="formules"/>
<meta name="resource-type" content="document"/>
<meta name="distribution" content="global"/>
    </head>
    <body>

<h2>
Rogers' (1972) distance [Takezaki, N. 96] 
</h2>

<math:math xmlns:math="http://www.w3.org/1998/Math/MathML">
 <math:semantics>
  <math:mrow>
   <math:mrow>
    <math:mi math:fontstyle="italic">Dr</math:mi>
    <math:mo math:stretchy="false">=</math:mo>
    <math:mfrac>
     <math:mn>1</math:mn>
     <math:mi>r</math:mi>
    </math:mfrac>
   </math:mrow>
   <math:mrow>
    <math:munderover>
     <math:mo math:stretchy="false">∑</math:mo>
     <math:mi>j</math:mi>
     <math:mi>r</math:mi>
    </math:munderover>
    <math:msqrt>
     <math:mfrac>
      <math:mrow>
       <math:msubsup>
        <math:mo math:stretchy="false">∑</math:mo>
        <math:mi>i</math:mi>
        <math:mi>m</math:mi>
       </math:msubsup>
       <math:msup>
        <math:mrow>
         <math:mo math:stretchy="false">(</math:mo>
         <math:mrow>
          <math:msub>
           <math:mi>x</math:mi>
           <math:mi math:fontstyle="italic">ij</math:mi>
          </math:msub>
          <math:mo math:stretchy="false">−</math:mo>
          <math:msub>
           <math:mi>y</math:mi>
           <math:mi math:fontstyle="italic">ij</math:mi>
          </math:msub>
         </math:mrow>
         <math:mo math:stretchy="false">)</math:mo>
        </math:mrow>
        <math:mn>2</math:mn>
       </math:msup>
      </math:mrow>
      <math:mn>2</math:mn>
     </math:mfrac>
    </math:msqrt>
   </math:mrow>
  </math:mrow>
  <math:annotation math:encoding="StarMath 5.0">Dr = 1 over r sum from j to r sqrt{{sum _i ^m (x_ij - y_ij)^2} over 2}</math:annotation>
 </math:semantics>
</math:math>


</body>
</html>
